<div *ngIf="loginSuccess ; else notLoggedIn">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <a class="nav-link" [routerLink]="['/viewAppointment/appointment/'+ 'edit' +'/' + memberId]"
                    routerLinkActive="active" [class.disabled]="!loginSuccess || !appointmentDetails">Edit Appointment
                    Details
                </a>
                <a class="nav-link" [routerLink]="['/viewAppointment/deleteUser/'  + 'delete' + '/'+ memberId]"
                    routerLinkActive="active" [class.disabled]="!loginSuccess || !appointmentDetails">Delete Appointment
                    Details
                </a>
            </ul>
        </div>
    </nav>
    <div *ngIf="appointmentDetails; else noDetails">
        <h3> Appointment Details </h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="row">Time Zone</th>
                    <th scope="row">Appointment Type</th>
                    <th scope="row">Start Date </th>
                    <th scope="row">Title</th>
                    <th scope="row">Start Time</th>
                    <th scope="row">End Time</th>
                    <th scope="row"> Location </th>
                    <th scope="row"> Comments </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ appointmentDetails?.timeZone }}</td>
                    <td>{{ appointmentDetails?.appointmentType }}</td>
                    <td>{{ appointmentDetails?.startDate }}</td>
                    <td>{{ appointmentDetails?.title }}</td>
                    <td>{{ appointmentDetails?.startTime }}</td>
                    <td>{{ appointmentDetails?.endTime }}</td>
                    <td>{{appointmentDetails?.location }}</td>
                    <td>{{ appointmentDetails?.comments }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #noDetails>
        No Booking Appointments made for the user
    </ng-template>
</div>
<ng-template #notLoggedIn>
    Kindly login to view/edit/delete appointments
</ng-template>