<div *ngIf="loginSuccess ; else notLoggedIn">
    <div *ngIf="finalAppointmentDetails; else noDetails">
        <h3> Appointment Details </h3>
        <table class="table table-striped">
            <tr>
                <th scope="row">Time Zone</th>
                <th scope="row">Appointment Type</th>
                <th scope="row">Start Date </th>
                <th scope="row">Title</th>
                <th scope="row">Start Time</th>
                <th scope="row">End Time</th>
                <th scope="row"> Location </th>
                <th scope="row"> Comments </th>
                <th scope="row">Actions</th>
            </tr>
            <tr *ngFor="let finalAppointment of finalAppointmentDetails">
                <td>{{ finalAppointment?.timeZone }}</td>
                <td>{{ finalAppointment?.appointmentType }}</td>
                <td>{{ finalAppointment?.startDate }}</td>
                <td>{{ finalAppointment?.title }}</td>
                <td>{{ finalAppointment?.startTime }}</td>
                <td>{{ finalAppointment?.endTime }}</td>
                <td>{{finalAppointment?.location }}</td>
                <td>{{ finalAppointment?.comments }}</td>
                <input type="edit" value="Edit" class="btn btn-primary" (click)="onEditClicked(finalAppointment.id)">
                <input type="delete" value="Delete" class="btn btn-primary"
                    (click)="onDeleteClicked(finalAppointment.id)">
            </tr>
        </table>
    </div>
    <ng-template #noDetails>
        No Booking Appointments made for the user
    </ng-template>
</div>
<ng-template #notLoggedIn>
    Kindly login to view/edit/delete appointments
</ng-template>