<form [formGroup]="appointmentForm" (submit)="bookAppointment()">
    <h1> Book Appointment </h1>
    <a class="nav-link" [routerLink]="['/header']" routerLinkActive="active">LogOut </a>
    <div class="form-group col-md-4">
        <label for="timeZone">TimeZone</label>
        <select formControlName="timeZone">
            <option *ngFor="let timeZone of TimeZones" [value]="timeZone.id">
                {{timeZone.name}}
            </option>
        </select>
    </div>
    <div class="form-group col-md-6">
        <label for="appointmentType">Appointment Type </label>
        <select formControlName="appointmentType">
            <option *ngFor="let appointmentType of AppointmentTypes" [value]="appointmentType.id">
                {{appointmentType.name}}
            </option>
        </select>
    </div>
    <div class="form-group col-md-4">
        <label for="dateOfBirth">Start Date</label>
        <input type="text" name="begin" bsDatepicker formControlName="dateOfBirth"
            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [minDate]="minDate">
    </div>

    <div class="form-group col-md-4">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" formControlName="title">
    </div>

    <div class="form-group col-md-4">
        <label for="location">Location</label>
        <input type="text" class="form-control" id="location" formControlName="location">
    </div>

    <div class="form-group col-md-4">
        <label for="comments">Comments</label>
        <input type="text" class="form-control" id="comments" formControlName="comments">
    </div>
    <div class="form-group col-md-4">
        <label for="startTime">Start Time</label>
        <input [ngxTimepicker]="picker" formControlName="startTime">
        <ngx-material-timepicker #picker></ngx-material-timepicker>
    </div>

    <div class="form-group col-md-4">
        <input formControlName="endTime">
        <ngb-timepicker></ngb-timepicker>
    </div>


    <div class="input">
        <input type="submit" value="Submit" class="btn btn-primary">

    </div>
</form>