<div *ngIf="loginSuccess ; else notLoggedIn">
    <form [formGroup]="appointmentForm" (submit)="bookAppointment()">
        <h1 style="color: green; font-weight: bold; font-style: normal; font-size: x-large;"> Book Appointment </h1>
        <div class="form-group col-md-4">
            <label for="timeZone">TimeZone</label>
            <select formControlName="timeZone">
                <option *ngFor="let timeZone of TimeZones" [value]="timeZone.id">
                    {{timeZone.name}}
                </option>
            </select>
            <div style='color:red'>
                <error *ngIf="appointmentFormCtrl.timeZone.errors?.required">TimeZone is a Mandatory field. Kindly
                    select
                    one
                    from drop down</error>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="appointmentType">Appointment Type </label>
            <select formControlName="appointmentType">
                <option *ngFor="let appointmentType of AppointmentTypes" [value]="appointmentType.id">
                    {{appointmentType.name}}
                </option>
            </select>
            <div style='color:red'>
                <error *ngIf="appointmentFormCtrl.appointmentType.errors?.required">Appointment Type is a Mandatory
                    field.
                    Kindly select one
                    from drop down</error>
            </div>
        </div>
        <div class="form-group col-md-4">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-date-fill" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-6.664-1.21c-1.11 0-1.656-.767-1.703-1.407h.683c.043.37.387.82 1.051.82.844 0 1.301-.848 1.305-2.164h-.027c-.153.414-.637.79-1.383.79-.852 0-1.676-.61-1.676-1.77 0-1.137.871-1.809 1.797-1.809 1.172 0 1.953.734 1.953 2.668 0 1.805-.742 2.871-2 2.871zm.066-2.544c.625 0 1.184-.484 1.184-1.18 0-.832-.527-1.23-1.16-1.23-.586 0-1.168.387-1.168 1.21 0 .817.543 1.2 1.144 1.2zm-2.957-2.89v5.332H5.77v-4.61h-.012c-.29.156-.883.52-1.258.777V8.16a12.6 12.6 0 0 1 1.313-.805h.632z" />
            </svg>
            <label for="startDate">Start Date</label>
            <input type="text" name="begin" bsDatepicker formControlName="startDate"
                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [minDate]="minDate">
            <div style='color:red'>
                <error *ngIf="appointmentFormCtrl.startDate.errors?.required">Start Date is a Mandatory field.
                </error>
            </div>
        </div>
        <div class="form-group col-md-4">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-alarm-fill" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M6 .5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H9v1.07a7.001 7.001 0 0 1 3.274 12.474l.601.602a.5.5 0 0 1-.707.708l-.746-.746A6.97 6.97 0 0 1 8 16a6.97 6.97 0 0 1-3.422-.892l-.746.746a.5.5 0 0 1-.707-.708l.602-.602A7.001 7.001 0 0 1 7 2.07V1h-.5A.5.5 0 0 1 6 .5zM.86 5.387A2.5 2.5 0 1 1 4.387 1.86 8.035 8.035 0 0 0 .86 5.387zM11.613 1.86a2.5 2.5 0 1 1 3.527 3.527 8.035 8.035 0 0 0-3.527-3.527zM8.5 5.5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5z" />
            </svg>
            <br>
            <label for="startTime">Start Time</label>
            <input [ngxTimepicker]="fullTime" formControlName="startTime" [format]="24">
            <ngx-material-timepicker #fullTime></ngx-material-timepicker>
            <div style='color:red'>
                <error *ngIf="appointmentFormCtrl.startTime.errors?.required">Start Time is a Mandatory field.
                </error>
            </div>
        </div>
        <div class="form-group col-md-4">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-alarm-fill" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M6 .5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H9v1.07a7.001 7.001 0 0 1 3.274 12.474l.601.602a.5.5 0 0 1-.707.708l-.746-.746A6.97 6.97 0 0 1 8 16a6.97 6.97 0 0 1-3.422-.892l-.746.746a.5.5 0 0 1-.707-.708l.602-.602A7.001 7.001 0 0 1 7 2.07V1h-.5A.5.5 0 0 1 6 .5zM.86 5.387A2.5 2.5 0 1 1 4.387 1.86 8.035 8.035 0 0 0 .86 5.387zM11.613 1.86a2.5 2.5 0 1 1 3.527 3.527 8.035 8.035 0 0 0-3.527-3.527zM8.5 5.5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5z" />
            </svg>
            <br>
            <label for="endTime">End Time</label>
            <input [ngxTimepicker]="fullTime1" formControlName="endTime" [format]="24">
            <ngx-material-timepicker #fullTime1></ngx-material-timepicker>
            <div style='color:red'>
                <error *ngIf="appointmentFormCtrl.endTime.errors?.required">End Time is a Mandatory field.</error>
            </div>
            <div style='color:red'>
                <label *ngIf="appointmentForm.errors">{{ appointmentForm.errors?.dates | json }}</label>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" formControlName="title">
            <div style='color:red'>
                <error *ngIf="appointmentFormCtrl.title.errors?.required">Title is a Mandatory field.</error>
                <error *ngIf="appointmentFormCtrl.title.errors?.maxLength">Title cannot exceed 50 characters</error>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="location">Location</label>
            <input type="text" class="form-control" id="location" formControlName="location">
            <div style='color:red'>
                <error *ngIf="appointmentFormCtrl.location.errors?.required">Location is a Mandatory field.</error>
                <error *ngIf="appointmentFormCtrl.location.errors?.maxLength">Location cannot exceed 50 characters
                </error>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="comments">Comments</label>
            <input type="text" class="form-control" id="comments" formControlName="comments">
        </div>
        <div class="input">
            <input type="submit" value="Book Appointment" class="btn btn-primary" [disabled]="!appointmentForm.valid">
            <div *ngIf="appointmentCreatedSuccess" style='color: green'>
                <div class="col-xs-12">
                    <p class="alert alert-success">
                        Appointment Booked Successfully. Details will be notified to the contact no {{contactNo}}
                    </p>
                </div>
            </div>
            <div *ngIf="updatedAppointmentSuccess" style='color: green'>
                <div class="col-xs-12">
                    <p class="alert alert-success">
                        Appointment Details updated Successfully.
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>
<br>
<ng-template #notLoggedIn>
    Kindly login to continue Booking Appointment.
</ng-template>