<div *ngIf="loginSuccess ; else notLoggedIn">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <a class="nav-link" [routerLink]="['/view/register/'+ 'edit' +'/' + memberId]"
                    routerLinkActive="active">Edit User
                    Details
                </a>
                <a class="nav-link" [routerLink]="['/view/deleteUser/'  + 'delete' + '/'+ memberId]"
                    routerLinkActive="active">Delete User
                    Details
                </a>
            </ul>
        </div>
    </nav>
    <div *ngIf="userDetails; else noUserDetails">
        <h3> User Details </h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="row">Name</th>
                    <th scope="row">User Name</th>
                    <th scope="row">Gaurdian Type </th>
                    <th scope="row">Gaurdian Name</th>
                    <th scope="row">Address</th>
                    <th scope="row">Address2</th>
                    <th scope="row">CitizenShip</th>
                    <th scope="row"> State </th>
                    <th scope="row"> Country </th>
                    <th scope="row"> Email Address </th>
                    <th scope="row"> Gender </th>
                    <th scope="row"> Marital Status </th>
                    <th scope="row"> Contact No </th>
                    <th scope="row"> Date Of Birth </th>
                    <th scope="row"> Registration Date </th>
                    <th scope="row"> Time Zone </th>
                    <th scope="row"> Blood Type </th>
                    <th scope="row"> Country Visited </th>
                    <th scope="row"> Citizen Status </th>
                    <th scope="row">Display Name </th>
                    <th scope="row"> Supplier Name</th>
                    <th scope="row"> SSN Number </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ userDetails?.name }}</td>
                    <td>{{ userDetails?.userName }}</td>
                    <td>{{ userDetails?.gaurdianType }}</td>
                    <td>{{ userDetails?.gaurdianName }}</td>
                    <td>{{ userDetails?.address}}</td>
                    <td>{{ userDetails?.address2 }}</td>
                    <td>{{userDetails?.citizenShip }}</td>
                    <td>{{ userDetails?.state }}</td>
                    <td>{{ userDetails?.country }}</td>
                    <td>{{ userDetails?.emailAddress }}</td>
                    <td>{{ userDetails?.gender }}</td>
                    <td>{{ userDetails?.maritalStatus }}</td>
                    <td>{{ userDetails?.contactNo }}</td>
                    <td>{{ userDetails?.dateOfBirth}}</td>
                    <td>{{userDetails?.registrationDate }}</td>
                    <td>{{ userDetails?.timeZone }}</td>
                    <td>{{ userDetails?.bloodType }}</td>
                    <td>{{ userDetails?.countryVisited || 'NA' }}</td>
                    <td>{{ userDetails?.citizenStatus }}</td>
                    <td>{{ userDetails?.displayName || 'NA'}}</td>
                    <td>{{ userDetails?.supplierName || 'NA' }}</td>
                    <td>{{ userDetails?.ssnNumber || 'NA' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #noUserDetails>
        Personal details not available for the user.
    </ng-template>
</div>
<ng-template #notLoggedIn>
    Kindly login to view/edit/delete appointments
</ng-template>